<header class="navbar navbar-fixed-top
  navbar-inverse">
  <div class="container">
    <%= link_to t(".logo_content"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".link_title_home_page"), "#" %></li>
        <li><%= link_to t(".link_title_help_page"), "#" %></li>
        <li><%= link_to t(".link_title_log_in_page"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
